.footer {
    margin-top: 10%;
    position: relative;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        @include mq (678) {
            flex-direction: column;
        }
    }

    &__nav {
        margin-left: 11%;

        @include mq (678) {
            margin-left: 0;
            margin-top: 20px;
            width: 100%;
        }
    }

    &__logo-image {
        width: 100%;
        height: auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include mq (678) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 50%;
        }
    }

    &__link {
        color: $white;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            color: $green;
        }
    }

    &__social {
        margin-top: 10px;
        margin-left: 8%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 23px;

        &-item {
            height: 18px;
            width: 18px;
            transition: all 0.3s ease;

            img {
                height: 18px;
                width: 18px;
            }

            &:hover {
                transform: scale(1.5);
            }
        }

        @include mq (678) {
            margin-top: 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 0;
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__copyright {
        margin-top: 6%;
        text-align: center;
        padding-bottom: 20px;
        color: $white;

        &-link {
            text-decoration: none;
            color: $green;
            transition: all 0.3s ease;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 1px;
                bottom: 2px;
                left: 0;
                background-color: $red;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $red;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__right-circles {
        position: absolute;
        bottom: 0;
        right: 260px;

        @include mq (1440) {
            width: 200px;
            height: 200px;
        }

        @include mq (992) {
            display: none;
        }
    }
}

// 4K Media Querie
@media (min-width: 1921px) {
    .footer {
        &__list {
            gap: 1.30208vw;
        }

        &__social {
            margin-top: 0.52083vw;
            gap: 1.19792vw;

            &-item {
                height: 0.9375vw;
                width: 0.9375vw;

                img {
                    height: 0.9375vw;
                    width: 0.9375vw;
                }
            }
        }

        &__copyright {
            padding-bottom: 1.04167vw;

            &-link {
                &::after {
                    height: 0.05208vw;
                    bottom: 0.10417vw;
                }
            }
        }

        &__right-circles {
            right: 13.54167vw;
        }
    }
}