.founder {
    margin-top: 22%;
    position: relative;

    &__container {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0 15%;

        @include mq (1440) {
            margin: 0 10%;
        }

        @include mq (992) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @include mq (768) {
            margin: 0 5%;
        }
    }

    &__arrows {
        position: absolute;
        top: -22%;
        left: 49%;

        @include mq (992) {
            top: -10%;
        }

        @include mq (768) {
            width: 35px;
            height: 15px;
        }
    }

    &__left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 458px;

        @include mq (620) {
            overflow: hidden;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    &__two-hexagons {
        position: absolute;
        bottom: -8px;
        right: -80px;
    }

    &__content {
        margin-top: 35px;
        color: $white;
        width: 100%;
        max-width: 850px;

        @include mq (768) {
            margin-top: 0;
        }
    }

    &__title {
        line-height: 77px;
        color: $green;

        @include mq (640) {
            line-height: 35px;
        }
    }

    &__quote {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 55px;
        gap: 20px;
    }

    &__hexagon {
        position: absolute;
        bottom: -140px;
        right: 130px;

        @include mq (768) {
            right: 0;
        }
    }
}

// 4K Media Queries
@media (min-width: 1921px) {
    .founder {
        &__container {
            gap: 2.08333vw;
        }

        &__left {
            max-width: 23.85417vw;
        }

        &__two-hexagons {
            bottom: -0.41667vw;
            right: -4.16667vw;
        }

        &__content {
            margin-top: 1.82292vw;
            max-width: 44.27083vw;
        }

        &__title {
            line-height: 4.01042vw;
        }

        &__quote {
            margin-top: 2.86458vw;
            gap: 1.04167vw;
        }

        &__hexagon {
            bottom: -7.29167vw;
            right: 6.77083vw;
        }
    }
}