.hero {
    position: relative;
    padding-top: 278px;

    @include mq(1200) {
        padding-top: 15%;
    }

    @include mq(768) {
        padding-top: 20%;
    }

    @include mq(568) {
        padding-top: 25%;
    }

    &__heptagon {
        position: absolute;
        left: 50%;
        transform: translate(-5%, -330%);
        height: 60px;
        width: 60px;
        z-index: 3;
    }

    &__title {
        color: $white;
        text-transform: uppercase;
        line-height: 117%;

        span {
            color: $green
        }
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 600px;
        margin-top: 23px;
        line-height: 33px;
        letter-spacing: -1px;

        @include mq(1200) {
            width: 80%;
        }
    }

    &__description {
        color: $white;
    }

    &__link {
        clip-path: polygon(89.302% 0%, 10.69% 0%, 10.69% 0%, 10.432% 0.022%, 10.175% 0.09%, 9.921% 0.202%, 9.668% 0.358%, 9.419% 0.558%, 9.173% 0.802%, 8.932% 1.088%, 8.694% 1.417%, 8.462% 1.787%, 8.235% 2.2%, 8.235% 2.2%, 8.015% 2.651%, 7.803% 3.14%, 7.599% 3.664%, 7.404% 4.222%, 7.218% 4.813%, 7.042% 5.436%, 6.875% 6.089%, 6.719% 6.771%, 6.573% 7.482%, 6.438% 8.219%, 0.657% 41.781%, 0.657% 41.781%, 0.534% 42.54%, 0.424% 43.318%, 0.325% 44.113%, 0.24% 44.922%, 0.167% 45.745%, 0.107% 46.58%, 0.061% 47.424%, 0.027% 48.277%, 0.007% 49.136%, 0% 50%, 0% 50%, 0.007% 50.864%, 0.027% 51.723%, 0.061% 52.576%, 0.107% 53.42%, 0.167% 54.255%, 0.24% 55.078%, 0.325% 55.887%, 0.424% 56.682%, 0.534% 57.46%, 0.657% 58.219%, 6.438% 91.781%, 6.438% 91.781%, 6.573% 92.518%, 6.719% 93.228%, 6.875% 93.911%, 7.042% 94.564%, 7.218% 95.187%, 7.404% 95.778%, 7.599% 96.336%, 7.803% 96.86%, 8.015% 97.349%, 8.235% 97.8%, 8.235% 97.8%, 8.462% 98.213%, 8.694% 98.583%, 8.932% 98.912%, 9.173% 99.198%, 9.419% 99.442%, 9.668% 99.642%, 9.921% 99.798%, 10.175% 99.91%, 10.432% 99.978%, 10.69% 100%, 89.302% 100%, 89.302% 100%, 89.56% 99.977%, 89.816% 99.909%, 90.071% 99.797%, 90.323% 99.64%, 90.572% 99.439%, 90.817% 99.196%, 91.059% 98.909%, 91.296% 98.58%, 91.528% 98.209%, 91.754% 97.797%, 91.754% 97.797%, 91.974% 97.345%, 92.186% 96.857%, 92.39% 96.333%, 92.585% 95.776%, 92.77% 95.185%, 92.947% 94.562%, 93.113% 93.909%, 93.269% 93.227%, 93.415% 92.517%, 93.55% 91.781%, 99.343% 58.219%, 99.343% 58.219%, 99.466% 57.46%, 99.576% 56.682%, 99.675% 55.887%, 99.76% 55.078%, 99.833% 54.255%, 99.893% 53.42%, 99.939% 52.576%, 99.973% 51.723%, 99.993% 50.864%, 100% 50%, 100% 50%, 99.993% 49.136%, 99.973% 48.277%, 99.939% 47.424%, 99.893% 46.58%, 99.833% 45.745%, 99.76% 44.922%, 99.675% 44.113%, 99.576% 43.318%, 99.466% 42.54%, 99.343% 41.781%, 93.55% 8.219%, 93.55% 8.219%, 93.415% 7.483%, 93.269% 6.773%, 93.113% 6.091%, 92.947% 5.438%, 92.77% 4.815%, 92.585% 4.224%, 92.39% 3.667%, 92.186% 3.143%, 91.974% 2.655%, 91.754% 2.203%, 91.754% 2.203%, 91.528% 1.791%, 91.296% 1.42%, 91.059% 1.091%, 90.817% 0.805%, 90.572% 0.561%, 90.323% 0.36%, 90.071% 0.203%, 89.816% 0.091%, 89.56% 0.023%, 89.302% 0%);
        background-color: $green;
        width: fit-content;
        padding: 22px 88px;
        color: #361281;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        letter-spacing: 2px;
        margin-top: 30px;

        &:hover {
            background-color: $red;
            color: $white;
            transform: scale(1.05);
        }
    }

    &__nonagon {
        position: absolute;
        left: 222px;
        bottom: -53px;
        height: 75px;
        width: 75px;
        z-index: 3;

        @include mq(768) {
            height: 40px;
            width: 40px;
        }
    }

    &__star {
        position: absolute;
        height: 114px;
        width: 100px;
        top: 50%;
        left: -70%;
        z-index: 3;

        @include mq(1200) {
            left: -100px;
        }

        @include mq(768) {
            height: 60px;
            width: 50px;
        }
    }
}