.image {
    position: relative;
    margin-top: 17%;

    @include mq (768) {
        margin: 20% 0;
    }

    &__left-circles {
        position: absolute;
        left: 0;
        top: -24%;
        z-index: 3;

        @include mq (768) {
            width: 30px;
            height: 90px;
        }
    }

    &__arrows {
        position: absolute;
        left: 45%;
        top: -20%;
        z-index: 3;

        @include mq (768) {
            width: 35px;
            height: 15px;
        }
    }

    &__wrapper {
        position: relative;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }

    &__image {
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &__right-circles {
        position: absolute;
        right: 5px;
        bottom: -23%;
        z-index: 3;

        @include mq (768) {
            width: 30px;
            height: 90px;
        }
    }
}

// 4K Media Queries
@media (min-width: 1921px) {
    .image {
        &__right-circles {
            right: 0.26042vw;
        }
    }
}