.social {
    position: relative;
    margin-top: 16%;
    color: $white;

    &__left-circles {
        position: absolute;
        left: 10px;
        top: -302px;

        @include mq (768) {
            width: 30px;
            height: 90px;
        }
    }

    &__title {
        letter-spacing: -2px;
        text-transform: uppercase;
        line-height: 1.2;

        span {
            color: $green;
        }
    }

    &__image {
        margin-top: 3%;
        width: 92%;
        height: auto;
    }

}