// COLORS
$green: rgba(213, 255, 47, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$purple: rgba(54, 18, 129, 1);
$red: #ff2473;
$orange: #FF6F1F;
$blue: #54EDED;

// BREAKPOINTS
$lap-large: 1440;
$lap-small: 1250;
$tablet-l: 1199;
$tablet: 991;
$phone: 640;